.card_body {
    width: 100%; /* Asegura que el cuerpo de la tarjeta ocupe todo el ancho */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.carousel-container {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    max-width: 600px; /* Limita el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto elevado */
}

.carousel-container img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}


/* Carousel.css (si no tienes un archivo CSS para el Carousel) */
.carousel {
    position: relative;
    width: 100%;
    height: 500; /* Altura fija para el carrusel*/  
    overflow: hidden;
} 

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    transition: transform 0.5s ease; /* Transición suave para el cambio de imágenes */
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel button.prev {
    left: 10px;
}

.carousel button.next {
    right: 10px;
}